div.container{
    margin : auto;
    height: auto;
    background-color: rgb(69, 109, 39, 0);
    position : relative;
    top : 40vh ;
    text-align: center;
    vertical-align: middle;  
}
#inputfield{
    padding: 1vh;
    text-align: center;
    border:3px solid rgb(2, 117, 216) ;
    border-radius: 3vh;
    background-color:none ;
    width: 200px;
}
#inputfield:focus{
    transition-duration: 1s;
    transition: ease-in-out 0.5s ;
    width: 200px;
    background-color: white ;
    border:3px solid rgb(2, 117, 216) ;
    border-radius: 3vh;
    outline: none;
    box-shadow: 1px 1px 10px rgb(2, 117, 216);
}